@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject SachidaPaudel.Service.UserService.IUserService UserService
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@if (!_isInitialized)
{
        <p>Loading...</p>
}
else
{
        <div class="page">
        @if (UserService.IsUserLoggedIn && !IsLoginOrRegisterPage())
        {
                    <div class="sidebar">
                        <NavMenu />
                    </div>
        }

            <main>
            @if (UserService.IsUserLoggedIn && !IsLoginOrRegisterPage())
            {
                       
            }

                <article class="content px-4">
                @Body
                </article>
            </main>
        </div>
}

@code {
    private bool _isInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        // Redirect to the register page if not logged in and not already on the register or login page
        if (!UserService.IsUserLoggedIn && !IsLoginOrRegisterPage())
        {
            Navigation.NavigateTo("/register", true);
        }
        else
        {
            _isInitialized = true;
        }
    }

    private bool IsLoginOrRegisterPage()
    {
        var currentUri = Navigation.Uri.ToLower();
        return currentUri.Contains("login") || currentUri.Contains("register");
    }
}